@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=League+Gothic&family=Open+Sans:wght@300;700&family=Poppins:ital,wght@0,200;0,400;0,600;1,200&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    min-height: 100vh;
    width: 100%;
    background-color: transparent;
    padding: 50px;
}

.inner-main {
    height: 250px;
    width: 250px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    color: #fff;
    transition: .3s ease;
    background-color: rgba(255, 255, 255, 0.2);
    flex-direction: column;
    font-family: Poppins, sans-serif;
}  

.inner-main:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.inner-main:active {
    border: 4px solid #fff;
}

.inner-main-active {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 2;
}

.inner-main h1 {
    font-family: Poppins, sans-serif;
}

.inner-main-h3 {
    display: none;
}

.h3-show {
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: right;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 100%;
}

.bg-active {
    z-index: 1;
}